/* 
    Author     : Johannes Rudolph
*/

.leaflet-control-mouseCoordinate {
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    background: none repeat scroll 0 0 #fff;
    color: #333;
    min-height: 30px;
    padding: 6px 10px 6px 6px;
    text-align: left;
    width: 250px;
}

.leaflet-control-mouseCoordinate table{
    width: 100%;
}

.coords{
    width: 90px;
}
