/* 
    Author     : Johannes Rudolph
*/

.leaflet-control-mouseCoordinate {
    width: 256px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.36);
    background: none repeat scroll 0 0 #fff;
    color: #333;
    padding: 6px 10px 6px 6px;
}

.leaflet-control-mouseCoordinate table{
    width: 100%;
}